<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>LibrarianServlet</servlet-name>
  	<display-name>LibrarianServlet</display-name>
  	<description></description>
  	<servlet-class>com.cognixia.jump.web.LibrarianServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>LibrarianServlet</servlet-name>
  	<url-pattern>/LibrarianServlet</url-pattern>
  </servlet-mapping>
  
  
</web-app>
